In [11]:
%matplotlib notebook
import pandas as pd
import numpy as np
import scipy.stats as stats
from matplotlib import pyplot as plt

df = pd.read_csv("Output/cleaned_venue_data2.csv")
df.head()

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue Name,Venue ID,Venue Category,Venue Latitude,Venue Longitude,Venue City,Venue State,Likes,Rating
0,Wakefield,40.894705,-73.847201,The Upper Room,4f57ef61e4b063a4ab675858,Music Venue,40.892567,-73.846406,NaN,NY,0.0,NaN
1,Wakefield,40.894705,-73.847201,Dyme Life Radio,4da63d645da3e8486b80546f,Music Venue,40.894541,-73.843266,Bronx,NY,0.0,NaN
2,Wakefield,40.894705,-73.847201,Par-City,4d23aea014f2b1f7740f68be,Music Venue,40.890211,-73.847002,Bronx,NY,0.0,NaN
3,Wakefield,40.894705,-73.847201,MY Studio,4e9cb64c49017c00c840e759,Music Venue,40.901926,-73.853504,NaN,NY,0.0,NaN
4,Wakefield,40.894705,-73.847201,Major League Music Group,4ee0764f0aafbb3dbab41e92,Music Venue,40.891367,-73.850088,NaN,NY,0.0,NaN

In [17]:
df.count()

Neighborhood              1226
Neighborhood Latitude     1226
Neighborhood Longitude    1226
Venue Name                1226
Venue ID                  1226
Venue Category            1226
Venue Latitude            1226
Venue Longitude           1226
Venue City                1106
Venue State               1226
Likes                     1225
Rating                     216
dtype: int64

In [12]:
df1=df.dropna(how = "any")

In [13]:
df1.head()

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue Name,Venue ID,Venue Category,Venue Latitude,Venue Longitude,Venue City,Venue State,Likes,Rating
14,Co-op City,40.874294,-73.829939,The Garage,4eaccfbc775bad292f2d50a5,Nightclub,40.882165,-73.827593,Bronx,NY,10.0,6.7
28,Fieldston,40.895437,-73.905643,Barcelona Bites Gastro Club,562d08fa498ee2b2ebfa94eb,Lounge,40.889420,-73.899237,Bronx,NY,12.0,7.5
40,Marble Hill,40.876551,-73.910660,Vin-Tich Lounge,4c30277566e40f47eb3ac38b,Nightclub,40.867277,-73.917150,New York,NY,4.0,6.2
41,Marble Hill,40.876551,-73.910660,Cafe Tabaco y Ron,4ba56909f964a520710439e3,Lounge,40.869016,-73.915776,New York,NY,46.0,7.7
44,Norwood,40.877224,-73.879391,Lexa Bar & Garden,55b6a352498e52aae5a72ab6,Lounge,40.872082,-73.877569,Bronx,NY,6.0,6.0

In [15]:
likes = df1["Likes"]
rating= df1["Rating"]

np.corrcoef(likes, rating)[0, 1]

0.5118391478942931

14       10.0
28       12.0
40        4.0
41       46.0
44        6.0
55        7.0
68       10.0
71        5.0
93       10.0
94        6.0
97       16.0
98       18.0
103      15.0
111      15.0
113       8.0
119       7.0
122      32.0
126       5.0
128       6.0
146       9.0
151      37.0
153      66.0
154      99.0
155      14.0
158       9.0
173       7.0
174      13.0
215       8.0
250       9.0
257       6.0
        ...
997       7.0
1002     19.0
1003     52.0
1004     22.0
1005     15.0
1015     75.0
1016     13.0
1017     34.0
1022     14.0
1070     32.0
1120      3.0
1124      9.0
1136     10.0
1138      7.0
1151     16.0
1157     15.0
1158      5.0
1167      9.0
1170    235.0
1172     11.0
1174    191.0
1176      7.0
1179      9.0
1180     25.0
1187     53.0
1194      6.0
1199      8.0
1200      6.0
1221      9.0
1222     15.0
Name: Likes, Length: 215, dtype: float64